﻿body{
	background-color: #ebedf0;
    padding-top:15px;
}
.tabs{
    font-family: Helvetica,Arial,sans-serif;
	padding: 0;
    z-index: 3;
	margin-bottom: -1px; 
	position: relative;
	margin-left: 15px;
}
.tabs>div {
    cursor: pointer;
	border-width: 1px 1px 1px 0;
	border-style: solid solid solid none;
	border-color: #AAA #AAAAAA #A1A9B2;
	padding: 3px 5px;
	color: #222e39;
	background-color: #ededed;
	cursor: pointer;
	outline: none; 
	display: inline-block;
}
.tabs>div:first-child {
  border-left: 1px solid #aaa;
}
.tabs>div.active{
	border-bottom-style: none;
	padding-bottom: 4px;
	background-color: #fafafa;
	color: #41464c;
	cursor: default;
}
.close{
	display:none;
}
.active .close{
	background-image: url("/WebUI/Editors/Alchemy/Plugins/Where_Used_Plus/assets/img/close-icon.png");
    background-size: 9px auto;
    cursor:pointer;
    display: inline-block;    
	height: 9px;
    margin: 0px -2px -1px 4px;
    width: 9px;
	border:1px solid #fafafa
}
.active .close:hover{
    border:1px solid #ccc;
}
.tab-body {
	background: none repeat scroll 0 0 #fafafa;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    display: block;
    margin-bottom: 2em;
    padding: 0;
    position: relative;
    height:300px;
	display:none;
	padding:10px;    
    overflow: auto;
}
.tab-body.active {
    display:block;
}
.item {
    cursor: pointer;
	border-bottom: 1px solid #b8c1cc;
	font-size:11px;
	height: 18px;
	line-height: 18px;
}
.item:last-child {
	border-bottom: none;
}
.item.selected {
    color: #fff;
    background-color: blue;
}
.results{
    width: 100%;
	border: 1px solid #b8c1cc;
	position: relative;
}
.results .headings{
	background-color: #EDEDED;
    font-size: 11px;
    font-weight: normal;
    text-align: left;
}
.results .headings div{
	border-bottom: 1px solid #aaa;
}
.results .headings div:last-child {
	border-right: none;
}
.results .headings div, .results .item div{
	display:inline-block;
	box-sizing:border-box;    
	vertical-align: middle;
	white-space: nowrap;
	overflow:hidden;
}
.results .headings .icon{
	width:18px;
	border-right: 1px solid #aaa;
}
.results .headings .id, .results .headings .path{
	border-left: 1px solid #aaa;
}
.item .icon{
	width:16px;
	height:16px;
	margin:1px;
}
.results .icon{
	position:absolute;
}
.name {
	width:30%;
	padding-left:21px;
}
.path {
	width:55%;
	padding-left: 2px;
}
.id{
	width:15%;
	padding-left:2px;
}
.controls{
	padding-left: 20px;
}

.button {
    margin-right:12px;
	margin-bottom: 12px;
}
.button.enabled{
	cursor: pointer;
}